.profile__sub-name {
  margin: 8px 0 0;
  max-width: 300px;
  overflow-wrap: break-word;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 583px) {
  .profile__sub-name{
    max-width: 220px;
    margin: 8px 30px 0 0;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
}
